<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newdiplwm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RotationGame"></activity>
        <activity
            android:name=".AboutActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".GameList" />
        <activity
            android:name=".BucketGame"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:parentActivityName=".GameList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Questionnaire"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".GameList"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MenuChart"
            android:launchMode="singleTop"
            android:parentActivityName=".GameList" />
        <activity
            android:name=".SoundImage"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:parentActivityName=".GameList" />
        <activity
            android:name=".SoundWord"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:parentActivityName=".GameList"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Suitcase"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:parentActivityName=".GameList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AudioPersonPick"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:parentActivityName=".GameList" />
        <activity
            android:name=".ShadowGame"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:parentActivityName=".GameList" />
        <activity
            android:name=".OrderGame"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:parentActivityName=".GameList" />
        <activity
            android:name=".ObjectSelector"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:parentActivityName=".GameList" />
        <activity
            android:name=".MemoryMatrix"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:parentActivityName=".GameList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScalingGame"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:parentActivityName=".GameList"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Charts"
            android:launchMode="singleTop"
            android:parentActivityName=".StatisticsTable" />
        <activity
            android:name=".RockPaperScissors"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:parentActivityName=".GameList" />
        <activity
            android:name=".StatisticsTable"
            android:launchMode="singleTop"
            android:parentActivityName=".GameList" />
        <activity
            android:name=".Settings"
            android:launchMode="singleTop"
            android:parentActivityName=".GameList" />
        <activity
            android:name=".GameList"
            android:launchMode="singleTop" />
        <activity
            android:name=".Register"
            android:launchMode="singleTop" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>